<!doctype html>
<head>
<link rel="stylesheet" type="text/css" href="styles/main.css">

</head>
<body ng-app="toDoListApp">
  <script type="text/javascript" src="vendor/angular.js"></script>
  <script type="text/javascript" src="scripts/app.js"></script>
  <script type="text/javascript" src="scripts/helloWorld.js"></script>
  <div ng-controller="mainCtrl" class="to-dos">
    <h1>My to-dos</h1>

    <div ng-repeat="todo in todos">
      <input ng-model="todo.completed" type="checkbox"/>
      <label ng-click="editing = !editing" ng-hide="editing" class="editing-label">{{todo.name}}</label>
      <input ng-change="todo.edited = true" ng-blur="editing = false;" ng-show="editing" ng-model="todo.name" class="editing-label" type="text"/>
      <div class="actions">
        <a ng-click="editing = !editing" href="">edit</a>
        <a ng-click="helloConsole()" href="">save</a>
        <a href="">delete</a>
      </div>
    </div>

    {{todos}}
  </div>

</body>
